
.emoji {

    --background: #fff url('../../assets/thumbsup.png') no-repeat center center / cover;
}

.cover {

    --background: #fff url('../../assets/cover.jpg') no-repeat center center / cover;
}


.red-square {

    vertical-align: middle !important;
    text-align: center;
    width: 60%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 30px;
    color: #fff;
    padding: 10px;
    background: -moz-linear-gradient(45deg, rgba(46,74,128,1) 1%, rgba(46,74,128,1) 15%, rgba(35,25,128,1) 52%, rgba(34,19,128,1) 57%, rgba(46,74,128,1) 87%, rgba(46,74,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, rgba(46,74,128,1)), color-stop(15%, rgba(46,74,128,1)), color-stop(52%, rgba(35,25,128,1)), color-stop(57%, rgba(34,19,128,1)), color-stop(87%, rgba(46,74,128,1)), color-stop(100%, rgba(46,74,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(46,74,128,1) 1%, rgba(46,74,128,1) 15%, rgba(35,25,128,1) 52%, rgba(34,19,128,1) 57%, rgba(46,74,128,1) 87%, rgba(46,74,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(46,74,128,1) 1%, rgba(46,74,128,1) 15%, rgba(35,25,128,1) 52%, rgba(34,19,128,1) 57%, rgba(46,74,128,1) 87%, rgba(46,74,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(46,74,128,1) 1%, rgba(46,74,128,1) 15%, rgba(35,25,128,1) 52%, rgba(34,19,128,1) 57%, rgba(46,74,128,1) 87%, rgba(46,74,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(46,74,128,1) 1%, rgba(46,74,128,1) 15%, rgba(35,25,128,1) 52%, rgba(34,19,128,1) 57%, rgba(46,74,128,1) 87%, rgba(46,74,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E4A80', endColorstr='#2E4A80',GradientType=1 ); /* ie6-9 */
    border-radius: 10px;
}

ion-icon {
    display: inline-block;
    margin-right: 30%;
}

ion-title {
    display: inline-block;
}